@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, rgba(16,203,169,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
    font-family: 'Castoro', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

html{
    max-width: 100vw;
}

/*Start Heading*/
.form-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    min-width: 100px;
    color: rgb(2,0,36);
    display: flex;
    align-items: center;
    letter-spacing: 10px;
    justify-content: center;
    text-transform: uppercase;
    margin-left: 10px;
    padding-top: 30px;
}

h1 span{
    color: white;
}

h2{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
/*End Heading*/

/*Start Form*/
.form-body{
    min-width: 80vw;
    max-height: 80vh;
    padding: 2rem;
    position: relative;
}

.form-control{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    box-shadow: 3px 8px 12px gray;
    min-width: 80vw;
    min-height: 80vh;
    margin-top: auto;
    padding: 10px;
    overflow: hidden ease;
}

.form-control.success input{
    border-color: rgb(7, 230, 7);
}

.form-control.error input{
    border-color: rgb(250, 6, 6);
}

.form-control.success select{
    border-color: rgb(7, 230, 7);
}

.form-control.error select{
    border-color:  rgb(250, 6, 6);
}

ul{
    background-color: #fff;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 3px 8px 12px gray;
    margin: 10px;
    padding: 30px;
    min-width: 80vw;
    line-height: 40px;
}

p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 20px;
}

ul li{
    margin-left: 22px;
    line-height: 30px;
}

li{
    font-size: 1rem;
    font-weight: 200;
    font-family: inherit;
    
}

input[type=text]{
    height: 3rem;
    width: 98%;
    font-size: 1rem;
    font-family: inherit;
    margin-top: 10px;
    padding: 10px;
}

input[type=text]:hover{
    font-size: 1.2rem;
    transition: .3s ease;
    cursor: pointer;
}

input[type=radio]{
    height: 1rem;
    width: 5%;
}

input[type=radio]:hover{
    transition: .3s ease;
    cursor: pointer;
}

select{
    height: 50px; 
    width: 98%; 
    margin-top: 20px;
    padding: 5px;
    font-size: 1rem; 
    font-family: inherit;
}

select:hover{
    font-size: 1.2rem;
    transition: .3s ease;
    cursor: pointer;
}

input[type=checkbox]{
    height: 1rem;
    width: 5%;
    font-size: 1rem;
    padding: 10px;
}

input[type=checkbox]:hover{
    transition: .3s ease;
    cursor: pointer;
}

small{
    font-size: 1rem;
    margin-left: 20px;
    margin-top: -5px;
}

input[type=email]{
    height: 3rem;
    width: 98%;
    font-size: 1rem;
    font-family: inherit;
    margin-top: 20px;
    padding: 20px;
}

input[type=email]:hover{
    transition: .3s ease;
    cursor: pointer;
    font-size: 1.2rem;
}

/*.form-control i{
    visibility: hidden;
    right: 10px;
    top: 40px;
    position: absolute;
}
*/

.form-control.success i.fa-check-circle{
    visibility: visible;
    color: rgb(7, 230, 7);
}

.form-body.error i.fa-exclamation-circle{
    visibility: visible;
    color:  rgb(250, 6, 6);
}

.form-body h6{
    position: absolute;
    margin-left: 20px;
    font-size: .8rem;
    visibility: hidden;
}

.form-control.body h6{
    visibility: visible;
    color: rgb(250, 6, 6);
}

h5{
    font-size: .5rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
/*End Form*/

/*Start Button*/
button{
    background-color: white;
    border: 2px solid rgb(2,0,36);
    color: black;
    display: block;
    width: 100%;
    height: 3rem;
    margin-top: 0;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    border-radius: 20px;
    outline: none;
}

button:hover{
    border: 2px solid black;
    font-size: 1.5rem;
    transition: .3s ease;
    cursor: pointer;
}
/*End Button*/

